In [1]:
import pandas as pd
df = pd.read_csv("longbench_e_phase1.csv")
df.groupby(["model","dataset"])["score"].mean().unstack(fill_value=0)

dataset          multifieldqa_en_e  passage_count_e  passage_retrieval_en_e
model
qwen3-235b-a22b           0.374005             0.24                    0.50
qwen3-30b-a3b             0.414000             0.05                    0.16
qwen3-4b                  0.377117             0.09                    0.80

In [3]:
df.groupby(["model","length_bucket"])["score"].mean().unstack()

length_bucket        0-4k     4k-8k       8k+
model
qwen3-235b-a22b  0.413191  0.359866  0.337247
qwen3-30b-a3b    0.308212  0.212059  0.084975
qwen3-4b         0.494170  0.383863  0.388651